@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.button-add-cart {
  width: 30px;
  height: 30px;
  background-color: $color-primary !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white !important;

  @include responsive-mobile {
    width: 20px !important;
    height: 20px !important;
    font-size: 10px;
    padding: 2px;
  }
}

.count-box {
  display: flex;
  justify-content: flex-start !important;

  > input {
    text-align: center;
    border: none;
    outline: none;
    width: 32px;
    height: 30px;

    @include responsive-tablet {
      width: 37px;
    }

    @include responsive-mobile {
      font-size: 14px !important;
      width: 12px;
    }
  }
}
