@import '../../../../assets/styles/mixins';
@import '../../../../assets/styles/variables';

.toggler-icon-show {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  font-size: 30px;
  cursor: pointer;
  @include flex-center();
  margin-right: 5px;

  span {
    background-color: $color-warning;
    font-size: 13px;
    color: $color-white;
    font-weight: 900;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: -2px;
    width: 18px;
    height: 18px;

    @include flex-center;
  }
}

.cart-product-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  img {
    width: 50px;
  }

  p {
    // font-size: 11px;
    // font-weight: bold;
    // margin-top: 15px;
    font-family: MontserratBold;
  }

  a {
    font-size: 11px;
    font-weight: bold;
    color: $color-black;
    font-family: MontserratBold;
  }
}

.delete-cart-items {
  cursor: pointer;
  background-color: $color-primary;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: $color-white;
}

.sub-total {
  border-top: 1px solid $color-primary-transparent;
  border-bottom: 1px solid $color-primary-transparent;
  font-family: MontserratBold;
}

.cart-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;

  @include responsive-mobile {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    button {
      margin-bottom: 10px;
      // margin-right: 5px;
    }
  }
}

.name-widths {
  width: 40%;
}

.unauthenticated-content {
  p {
    line-height: 1.5;
  }
}
