@import '../../assets/styles/mixins';
@import '../../assets/styles/variables';

.breadcrumb-big-box {
  -webkit-box-shadow: 3px 3px 8px 4px rgba(211, 203, 228, 0.24);
  box-shadow: 3px 3px 8px 4px rgba(190, 180, 199, 0.24);
  border-radius: 3px;
  font-size: 12px;
  padding: 5px;
}
