@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.shipping-cost-table {
  @include responsive-tablet {
    width: 100% !important;
  }
  @include responsive-mobile {
    width: 100% !important;
  }
}
.thead-fs {
  background-color: $color-primary-transparent-50;
  th {
    font-family: MontserratBold;
  }
}
