@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.our-customer-review-main {
  width: 100%;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1512386233331-f023884a92e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1195&q=80');
  @include background-position-center();
}

.title-review {
  h4 {
    font-size: 55px;
    line-height: 57px;
    text-transform: uppercase;
    font-family: Oswald;
    margin-top: 15px;
    text-align: center;
    color: $color-black;

    @include responsive-mobile {
      font-size: 24px;
      line-height: 35px;
      margin-top: 5px;
    }
  }
}

.bottom-background {
  width: 100%;
  height: 50px;
  background-image: url('../../../assets/images/pages/about-us-page/breadcrumb-shape-2.png');
  @include background-position-center();
}
.top-background {
  width: 100%;
  height: 30px;
  background-image: url('../../../assets/images/pages/about-us-page/breadcrumb-shape-1.png');
  @include background-position-center();
}
.flex-about {
  height: 400px;
}
